.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v23-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alegreya-v26-latin-regular.woff2") format("woff2"), url("../fonts/alegreya-v26-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alegreya-v26-latin-700.woff2") format("woff2"), url("../fonts/alegreya-v26-latin-700.woff") format("woff");
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #02897A;
  color: #6e0202;
}

::selection {
  background-color: #02897A;
  color: #6e0202;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 0 0 5px #444;
          box-shadow: inset 0 0 5px #444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #02897A;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #034949;
}

.wrapper {
  background-image: url("../../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.header__logo {
  width: 200px;
  height: 100px;
  background-image: url("../../images/site-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:first-child) {
  margin-left: 75px;
}

.header__item-link--active {
  font-weight: 900 !important;
  font-size: 19px;
}

.header__item-link {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 10px;
}

.header__item-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.header__item-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.header__item:hover .header__item-link::before {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.header__item:hover .header__item-link::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.header__menu {
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.header__menu-img {
  width: 50px;
  height: 40px;
}

@media only screen and (max-width: 900px) {
  .header__logo {
    width: 150px;
    height: 80px;
  }
  .header__item:not(:first-child) {
    margin-left: 35px;
  }
}

@media only screen and (max-width: 770px) {
  .header__inner {
    position: relative;
  }
  .header__logo {
    width: 100px;
    height: 60px;
  }
  .header__list {
    margin: 0;
    padding: 30px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-image: url("../../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 20px;
    display: none;
    text-align: center;
  }
  .header__list-open {
    display: block;
  }
  .header__item:not(:first-child) {
    margin-left: 0;
  }
  .header__item:not(:end) {
    margin-bottom: 20px;
  }
  .header__menu {
    display: block;
  }
}

.welcome__inner {
  padding: 0 30px;
}

.welcome__content {
  margin-top: 150px;
}

.welcome__content-heading--top {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
  padding: 0;
}

.welcome__content-heading {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 50px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin: 0;
}

.welcome__content-heading--span {
  font-size: 45px;
  line-height: 42px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.welcome__content-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}

.welcome__link-box {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome__link {
  position: relative;
  display: inline-block;
  padding: 22px 32px 22px 78px;
  background: #E0B973;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.welcome__link::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 26px;
  background-image: url("../../images/welcome-link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 30px;
  top: 20px;
}
/*# sourceMappingURL=main.css.map */