.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v23-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v23-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alegreya-v26-latin-regular.woff2") format("woff2"), url("../fonts/alegreya-v26-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alegreya-v26-latin-700.woff2") format("woff2"), url("../fonts/alegreya-v26-latin-700.woff") format("woff");
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background-color: #02897A;
  color: #6e0202;
}

::selection {
  background-color: #02897A;
  color: #6e0202;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 0 0 5px #444;
          box-shadow: inset 0 0 5px #444;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #E0B973;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8ba49;
}

.wrapper {
  background-image: url("../../images/header-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.header__logo {
  width: 200px;
  height: 100px;
  background-image: url("../../images/site-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:first-child) {
  margin-left: 75px;
}

.header__item-link--active {
  font-weight: 900 !important;
  font-size: 19px;
}

.header__item-link {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 10px;
}

.header__item-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.header__item-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.header__item:hover .header__item-link::before {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.header__item:hover .header__item-link::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.header__menu {
  border: none;
  border-radius: 5px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.header__menu-img {
  width: 50px;
  height: 40px;
}

@media only screen and (max-width: 900px) {
  .header__logo {
    width: 150px;
    height: 80px;
  }
  .header__item:not(:first-child) {
    margin-left: 35px;
  }
}

@media only screen and (max-width: 770px) {
  .header__inner {
    position: relative;
  }
  .header__logo {
    width: 100px;
    height: 60px;
  }
  .header__list {
    margin: 0;
    padding: 30px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-image: url("../../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 20px;
    display: none;
    text-align: center;
  }
  .header__list-open {
    display: block;
    z-index: 1;
  }
  .header__item:not(:first-child) {
    margin-left: 0;
  }
  .header__item:not(:end) {
    margin-bottom: 20px;
  }
  .header__menu {
    display: block;
  }
}

.welcome__inner {
  padding: 0 30px;
}

.welcome__content {
  margin-top: 150px;
}

.welcome__content-heading--top {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #FFFFFF;
  margin: 0 0 10px 0;
  padding: 0;
}

.welcome__content-heading {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 50px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin: 0;
}

.welcome__content-heading--span {
  font-size: 45px;
  line-height: 42px;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.welcome__content-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 15px 0 0 0;
}

.welcome__link-box {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome__link {
  position: relative;
  display: inline-block;
  background: #E0B973;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  padding: 18px 30px 18px 75px;
  font-size: 20px;
  color: #FFFFFF;
}

.welcome__link::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 26px;
  background-image: url("../../images/welcome-link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 30px;
  top: 15px;
}

.welcome__scrool-title {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin: 40px 0 0 0;
}

.welcome__scrool-btn {
  display: block;
  margin: 15px auto 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url("../../images/scrool.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

@media only screen and (max-width: 550px) {
  .welcome__content {
    margin-top: 100px;
  }
  .welcome__content-heading--top {
    font-size: 28px;
    line-height: 31px;
  }
  .welcome__content-heading {
    font-size: 70px;
    line-height: 50px;
  }
  .welcome__content-heading--span {
    font-size: 35px;
    line-height: 42px;
  }
  .welcome__content-text {
    font-size: 17px;
    line-height: 30px;
  }
  .welcome__link-box {
    margin-top: 40px;
  }
  .welcome__link {
    padding: 15px 20px 15px 55px;
    font-size: 17px;
  }
  .welcome__link::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 26px;
    background-image: url("../../images/welcome-link.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 20px;
    top: 15px;
  }
  .welcome__scrool-title {
    font-size: 20px;
    margin: 30px 0 0 0;
  }
  .welcome__scrool-btn {
    display: block;
    margin: 10px auto 0 auto;
    width: 50px;
    height: 50px;
  }
}

.rooms__inner {
  margin-top: 80px;
  padding: 0 15px;
}

.rooms__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #142648;
  text-align: center;
  margin: 0;
}

.rooms__title-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: -2px;
  margin-left: 20px;
  -webkit-animation-name: animate1;
          animation-name: animate1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: liner;
          animation-timing-function: liner;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.rooms__wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.rooms__wrapper1-content {
  position: relative;
  width: 35%;
  padding-left: 40px;
}

.rooms__wrapper1-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #14274A;
  left: 0;
}

.rooms__wrapper1-content--title {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #14274A;
  margin: 0;
}

.rooms__wrapper1-content--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #14274A;
  margin: 20px 0;
}

.rooms__wrapper1-content--link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 40px;
  background: #E0B973;
  border-radius: 8px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.rooms__wrapper1-content--link:hover {
  background: #fed995;
}

.rooms__wraper1-img {
  width: 55%;
  height: 450px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rooms__wraper1-img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.rooms__wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.rooms__wrapper2-content {
  position: relative;
  width: 35%;
  padding-left: 40px;
}

.rooms__wrapper2-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #14274A;
  left: 0;
}

.rooms__wrapper2-content--title {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #14274A;
  margin: 0;
}

.rooms__wrapper2-content--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #14274A;
  margin: 20px 0;
}

.rooms__wrapper2-content--link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 40px;
  background: #E0B973;
  border-radius: 8px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.rooms__wrapper2-content--link:hover {
  background: #fed995;
}

.rooms__wraper2-img {
  width: 55%;
  height: 450px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rooms__wraper2-img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

@-webkit-keyframes animate1 {
  from {
    background-color: white;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    background-color: #fed995;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes animate1 {
  from {
    background-color: white;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    background-color: #fed995;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media only screen and (max-width: 1000px) {
  .rooms__wrapper1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
  .rooms__wrapper1-content {
    width: 90%;
  }
  .rooms__wraper1-img {
    width: 90%;
    margin-top: 50px;
  }
  .rooms__wrapper2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
  }
  .rooms__wrapper2-content {
    width: 90%;
  }
  .rooms__wraper2-img {
    width: 90%;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 660px) {
  .rooms__wrapper1-content {
    width: 95%;
  }
  .rooms__wraper1-img {
    width: 100%;
    height: 280px;
  }
  .rooms__wrapper2-content {
    width: 95%;
  }
  .rooms__wraper2-img {
    width: 100%;
    height: 280px;
  }
}

.test__inner {
  margin: 80px 0;
  padding: 0 20px;
  padding-bottom: 80px;
}

.test__title {
  text-align: center;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #14274A;
}

.test__content {
  display: none;
}

.test__content--open {
  display: block;
}

.test__content--text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 37px;
  color: #14274A;
  margin: 20px 0 0 0;
  text-align: center;
}

.test__content--user {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #14274A;
  text-align: center;
  margin: 0;
}

.test__content1 {
  display: none;
}

.test__content1--open {
  display: block;
}

.test__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.test__buttons-one {
  padding: 10px 15px;
  background: #E0B973;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.test__buttons-two {
  background: #E0B973;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.test__buttons-one:hover {
  background: #fed995;
}

.test__buttons-two:hover {
  background: #fed995;
}

.site__footer {
  background-image: url("../../images/foter-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
/*# sourceMappingURL=main.css.map */